<%- include('partials/header') -%>
<main class="container">
  <div class="row mt-5">
    <div class="mx-auto col-sm-2 mt-5"><a href="/profile" class="btn btn-primary"> Return to Profile</a></div>
    <div class="mx-auto col-sm-2 mt-5"><a href="/dropinForm" class="btn btn-primary"> Post a Dropin</a></div>
  </div>
      <link rel="stylesheet" href="style.css">
</main>
  <div class="container">
    <div class=" justify-content-center mt-5">
      <ul class=" list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="postbox">
                <div style="height: 150px;">
                  <img class="postpic" src="<%= posts[i].image%>">
                </div>
                <div>
                  <div class="infobox">
                    <a href="/post/<%= posts[i]._id%>">
                    <h3><%=posts[i].title%></h3>
                  </div>
                  <div class="infobox">
                    <label for="location">Location: </label>
                    <%=posts[i].location%>
                  </div class="infobox">
                  <div class="infobox">
                    <label for="date">Date: </label>
                    <%=posts[i].date%>
                  </div>
                  <div class="infobox">
                    <label for="time">Time: </label>
                    <%=posts[i].time%>
                  </div>
                  <div class="infobox">
                    <label for="remarks">Remarks: </label>
                    <%=posts[i].remarks%>
                  </div>
                  <div class="infobox">
                    <label for="players">Players: </label>
                    <% for(var j=0; j<posts[i].players.length; j++) {%>
                      <span><%= posts[i].players[j] %></span>
                      <% } %>
                  </div>
                </div>
                
                  <% if (posts[i].user == user) { %>
                      <form style="height: 100%;"
                        action="/post/deletePost/<%= posts[i]._id%>?_method=DELETE"
                        method="POST"
                        class="col-3"
                      >
                        <button style="height: 100%;" class="btn btn-primary fa fa-trash" type="submit"></button>
                      </form>
                    <!-- <a href="/deletePost/<%= posts[i]._id%>" ><button style="height: 100%;" class="btn btn-primary fa fa-trash"></button></a> -->
                  <% }else{ %>
                    <form style="height: 100%;"
                    action="/post/addPlayer/<%= posts[i]._id%>?_method=PUT"
                    method="POST"
                    class="col-3"
                  >
                    <button style="height: 100%;" class="btn btn-primary fa fa-plus" type="submit"></button>
                  </form>
                  <!-- <button class="btn btn-primary fa fa-plus"></button> -->
                    <% } %>
              
              </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>